fastapi
uvicorn
gunicorn
pydantic
pydantic-settings
sqlalchemy
sqlmodel
psycopg2-binary
asyncpg
python-multipart
python-jose[cryptography]
passlib==1.7.4
python-dotenv
requests
google-cloud-storage
pillow
reportlab
bcrypt==4.0.1